@import "/src/lib/styles/themes.scss";
@import "/src/lib/styles/mixins.scss";
@import "/src/lib/styles/colors.scss";

.Button {
  background: #e0ebf1;
  border: none;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-text);
  border-radius: 4px;
  cursor: pointer;
  transition: 50ms opacity, 50ms background-color, 50ms box-shadow;
  min-width: 75px;
  display: flex;
  align-items: center;

  span.label {
    // flex: 1;
  }

  &.active {
    box-shadow: 0 0 0 3px #acc1f3;
  }

  &.alignStart {
    justify-content: start;
  }

  &.alignCenter {
    justify-content: center;
  }

  &.alignEnd {
    justify-content: end;
  }

  &.rectangle {
    width: 32px;
    height: 32px;
    min-width: auto;
    padding: 0;
    text-align: center;

    .icon {
      margin-right: 0;
    }
  }

  &.extraSmall {
    $height: 24px;
    padding: 0px;
    height: $height;
    min-width: auto;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  &.small {
    $height: 28px;
    height: $height;
    padding: 0 10px;
  }

  &.regular {
    height: 32px;
    padding: 0 12px;
  }

  &.regularWide {
    height: 32px;
    padding: 0 22px;
  }

  &.large {
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 6px;
  }

  &.largeWide {
    height: 40px;
    padding: 0 22px;
    font-size: 14px;
    border-radius: 6px;
  }

  &.extraLarge {
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 28px;
    border-radius: 6px;
  }

  > .icon {
    margin-right: 6px;
  }

  &:focus {
    outline: 0;
  }

  &.disabled {
    cursor: default;
  }

  &.orange {
    background: $orange;
    border: none;
    box-shadow: none;
    transition: 0.1s background-color;

    &:hover {
      background: var(--color-background);
      color: var(--color-text);
      stroke: $orange;
      box-shadow: 0 0 0 3px $orange;
    }
  }

  &.blue {
    background: $button-blue;
    color: var(--color-background);
    border: none;
    box-shadow: none;
    transition: 0.1s background-color;

    &:hover {
      background: var(--color-background);
      color: var(--color-text);
      box-shadow: 0 0 0 3px $button-blue;
    }

    &.disabled {
      background: transparent;
      color: var(--color-text);
      cursor: default;
      box-shadow: none;
    }
  }

  &.transparent {
    background: transparent;
    border: none;
    transition: 0.1s background-color;
    color: var(--color-text-gray);

    &:hover {
      color: var(--color-text);

      svg path {
        stroke: $orange;
        fill: var(--color-background);
      }
    }
  }

  &.transparentOnDark {
    background: transparent;
    border: none;
    color: #fff;

    &:not(.disabled):hover {
      opacity: 0.7;
    }
  }
}

.RoundButton {
  background: transparent;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hover {
    background: var(--color-button-white-hover);
  }

  &.active {
    @include dark-mode() {
      background: #fff;
    }

    svg path {
      @include dark-mode() {
        fill: #000;
      }
    }
  }

  &.transparent:hover {
    background: transparent;
  }

  &.hidden {
    visibility: hidden;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    svg path {
      fill: var(--color-icon-disabled) !important;
    }
  }
}
