@import "/src/lib/styles/colors.scss";
@import "/src/lib/styles/mixins.scss";

.TabSelector {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

  .separator {
    @include non-selectable();
    cursor: default;
    color: var(--color-text);
  }

  .tab {
    @include non-selectable();
    cursor: pointer;
    color: $orange;

    &.selected {
      color: var(--color-text);
    }
  }
}
