.OrderPageMain {
  .orderPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;

    .productTable {
      display: flex;
      flex-direction: column;
      align-items: center;

      .product {
        display: flex;
        justify-content: space-between;
        width: 100px;
        padding: 5px 8px;
        border-bottom: 1px solid lightgray;
      }
    }

    .total {
      padding-top: 50px;
      padding-bottom: 50px;

      > span {
        font-size: 32px;
        font-weight: 600;
      }
    }

    .button {
      max-width: 200px;
    }
  }
}
