@import "/src/lib/styles/colors.scss";
@import "/src/lib/styles/mixins.scss";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 36px;

  border-top: 4px solid $orange;

  .left {
    display: flex;
    align-items: center;

    .logoContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 24px;
    width: 33px;
    height: 33px;
    background-color: $orange;
    color: white;
  }

  .title {
    padding-right: 32px;
  }

  h1 {
    font-size: 26px;
  }
}
