@import "/src/lib/styles/mixins.scss";
@import "/src/lib/styles/colors.scss";

.NewsPageMain {
  overflow-y: scroll;

  .newsPage {
    display: flex;
    flex-direction: column;

    > section {
      width: 100%;
      border-bottom: 1px solid var(--color-border-gray);
      padding: 30px 0;
      padding-top: 20px;
    }

    > section.NewsPageContent {
      border-bottom: 0px;
      flex: 1 1 auto;
      width: 100%;
      padding-bottom: 0;

      > .content {
        @include fixed-container(1000px);
        padding: 0 31px;

        &.loading {
          text-align: center;
        }
      }

      .pagination {
        margin-top: 50px;
        padding-bottom: 50px;
      }

      > .title {
        margin: 10px 0px 30px 0px;
      }

      .button {
        margin-bottom: 53px;
        margin-left: 36px;
        border-radius: 0px;
      }
    }
  }
}

.ListItem {
  font-family: "Ubuntu Mono";
  display: flex;
  padding-bottom: 16px;
  padding: 11px 0px 0px 0px;
  margin-bottom: 2px;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 11px 20px 0px 20px;
    transition: 0.15s;
  }

  .row {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    > p {
      @include non-selectable();
      margin: 0px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      color: var(--color-text-gray);
    }

    .star {
      stroke: var(--color-text-gray);
      stroke-width: 1px;
      margin-right: 4px;

      &.starred {
        stroke: $orange;
        fill: $orange;
      }
    }
  }

  .rank {
    @include non-selectable();
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-gray);
    margin-right: 14px;
  }

  .title {
    @include non-selectable();
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
  }

  .hostname {
    > span {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      color: var(--color-text-gray);
      text-decoration: none;
    }
  }
}

.empty {
  text-align: center;
}

.StoriesList {
  padding-bottom: 25px;
}
