@import "/src/lib/styles/mixins.scss";

.NotFoundPage {
  .graphic {
    width: 380px;
    height: 162px;
    margin: auto;
    margin-top: 160px;
  }

  p.body {
    font-size: 26px;
    color: #000;
    line-height: 1.34;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}
